/* @media screen and (max-width: 1279px) {
  .screen_1,
  .screen_2,
  .screen_3,
  .screen_4,
  .screen_5,
  .footer {
    margin: 3.12vw;
  }
}
@media screen and (max-width: 1023px) {
  .screen_1,
  .screen_2,
  .screen_3,
  .screen_4,
  .screen_5,
  .footer {
    margin: 3.9vw;
  }
}
@media screen and (min-width: 768px) {
  .screen_1,
  .screen_2,
  .screen_3,
  .screen_4,
  .screen_5,
  .footer {
    margin: 3.9vw;
  }
}
@media screen and (min-width: 414px) {
  .screen_1,
  .screen_2,
  .screen_3,
  .screen_4,
  .screen_5,
  .footer {
    margin: 4.8vw;
  }
}
@media screen and (min-width: 360px) {
  .screen_1,
  .screen_2,
  .screen_3,
  .screen_4,
  .screen_5,
  .footer {
    margin: 5.5vw;
  }
} */
