@media (max-width: 768px) {
  /*первый экран*/
  .screen {
    flex-direction: column;
  }
  .block_1_screen_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
  }
  .block_2_screen_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
  }
  /*второй экран*/
  .screen_2 {
    width: 90vw;
    height: 125vw;
  }
  .block_1_screen_2 {
    display: none;
  }
  .screen_2_block-container {
    flex-direction: column-reverse;
  }
  .star_1,
  .star_2,
  .star_3,
  .star_4 {
    width: 5.2vw;
    height: 5.2vw;
  }
  .block_2_screen_2 {
    width: 100%;
    height: 100%;
  }
  .block_3_screen_2 {
    margin: 5.2vw auto;
    width: 85.67vw;
    height: 100%;
  }
  .skin {
    width: 46.6vw;
    height: 64.84vw;
    justify-content: center;
    margin-top: -2vw;
    position: absolute;
    left: 5vw;
  }
}

@media (max-width: 414px) {
}
