/* TABLET */
@media (max-width: 768px) {
  p {
    font-size: 2.6vw;
  }
  h1 {
    font-size: 16.9vw;
  }
  h2 {
    font-size: 11.7vw;
  }
  h3 {
    font-size: 3.9vw;
  }
  .screen_2,
  .screen_3,
  .screen_4,
  .screen_5 {
    width: 92vw;
    margin: 3.9vw auto;
    height: auto;
  }

  /* 1 экран*/
  .screen_1 {
    flex-direction: column;
    width: 92vw;
    overflow: hidden;
  }

  .block_1_screen_1,
  .block_2_screen_1 {
    width: 100%;
    height: auto;
  }

  .block_2_screen_1 {
    overflow: visible;
    min-height: 82vw;
  }
  .text-background {
    width: 72vw;
    height: 30.2vw;
    padding-top: 4vw;
  }
  .message_1,
  .message_2,
  .message_3 {
    width: 36vw;
    height: 17.83vw;
    margin: 2.5vw auto;
  }
  .message_1 {
    margin-right: 0;
  }
  .message_2 {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .message_3 {
    margin-left: 0;
    margin-top: 0;
  }
  .laugh {
    width: 74vw;
    height: 73vw;
    right: -20vw;
    top: 6vw;
  }
}

.screen_2 {
  height: auto;
}
.block_1_screen_2 {
  display: none;
}
.screen_2_block-container {
  flex-direction: column-reverse;
}
.block_2_screen_2,
.block_3_screen_2 {
  width: 100%;
  height: 90vw;
}
.skin {
  width: 80vw;
  height: 70vw;
  left: 50%;
  transform: translateX(-50%);
  top: 10vw;
  margin-top: 0;
}
.message_4 {
  width: 78vw;
  height: 43vw;
  left: 50%;
  transform: translateX(-50%);
  top: 6vw;
  display: grid;
  grid-template-columns: 3.2vw 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: 0;
  row-gap: 1vw;
  padding-top: 10vw;
  padding-left: 25vw;
  padding-right: 5vw;
  box-sizing: border-box;
}

.message_4 > .text-line {
  width: 45vw;
  justify-self: start;
}
.message_4 > p,
.text-line {
  font-size: 1.95vw;
  height: 6vw;
}

.runner {
  width: 3.5vw;
  height: 7vw;
  margin-top: 0.2vw;
  left: 30vw;
}
.messages_5 {
  top: 55vw;
  right: 2vw;
}
.message_5_1,
.message_5_2,
.message_5_3,
.message_5_4 {
  width: 70vw;
  height: 27vw;
}
.message_5_1 p,
.message_5_2 p,
.message_5_3 p,
.message_5_4 p {
  font-size: 4.2vw;
}

/* 3 экран */
.screen_3 {
  height: auto;
  flex-direction: column;
}
.screen_3_block-container {
  flex-direction: column;
}
.block_2_screen_3,
.block_4_screen_3 {
  width: 100%;
  height: 22.78vw;
  margin-left: 0;
  float: row;
}
.block_3_screen_3 {
  width: 100%;
  height: 57vw;
  margin-left: 0;
}
.animated-item {
  width: 60vw;
  height: 90vw;
  padding: 30;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.falling-item {
  position: absolute;
  top: -10vw;
  padding: 1.2vw 2.4vw;
  background: #fdabca;
  border-radius: 50px;
  white-space: nowrap;

  animation: fall 6s linear infinite;
}
@keyframes fall {
  0% {
    transform: translateY(-10vw);
  }
  100% {
    transform: translateY(120vw);
  }
}
.falling-item:nth-child(odd) {
  animation-duration: 5s;
  transform: rotate(-10deg);
}
.falling-item:nth-child(even) {
  animation-duration: 7s;
  transform: rotate(12deg);
}
.falling-item:nth-child(1) {
  left: 5%;
  animation-delay: 0s;
}
.falling-item:nth-child(2) {
  left: 20%;
  animation-delay: 1s;
}
.falling-item:nth-child(3) {
  left: 35%;
  animation-delay: 2s;
}
.falling-item:nth-child(4) {
  left: 50%;
  animation-delay: 3s;
}
.falling-item:nth-child(5) {
  left: 65%;
  animation-delay: 4s;
}
.falling-item:nth-child(6) {
  left: 80%;
  animation-delay: 5s;
}
.selective-item_1,
.selective-item_2,
.selective-item_3 {
  width: 30vw;
  height: 28vw;
  margin-left: 10vw;
}

/* 4 экран */
.screen_4 {
  height: auto;
}
.screen_4_block-container {
  flex-direction: row;
}
.block_2_screen_4 {
  width: 100%;
  height: 110vw;
}
.block_3_screen_4 {
  width: 46vw;
  height: 105vw;
  position: relative;
}
.crown-kota {
  margin-top: 40vw;
}

.jump {
  width: 43vw;
  height: 63vw;
  left: 2vw;
  bottom: -2vw;
}
.dragon {
  width: 35vw;
  height: 85vw;
  right: 0vw;
  top: 27vw;
}
.typing {
  position: absolute;
  right: 4vw;
}

/* 5 экран*/
.screen_5_block-container {
  flex-direction: column;
}
.block_2_screen_5 {
  display: none;
}
.block_3_screen_5 {
  width: 100%;
  height: 110vw;
  position: relative;
}
.king-man_animation {
  width: 40vw;
  height: 65vw;
  left: 50%;
  transform: translateX(-50%);
  top: 53vw;
}

.style-king_p1 {
  width: 23vw;
  height: 3vw;
  left: 50%;
  transform: translateX(-50%);
  top: 17vw;
}

.style-king_p2 {
  width: 25vw;
  height: 3vw;
  left: 50%;
  transform: translateX(-50%);
  top: 43vw;
}

.style-king {
  left: 50%;
  transform: translateX(-50%);
  top: 24vw;
  text-align: center;
  width: 100%;
}
.star_5 {
  width: 5.2vw;
  height: 5.2vw;
  left: 50%;
}
.star_6 {
  width: 5.2vw;
  height: 5.2vw;
  left: 50%;
  top: 50vw;
}

/* footer */
.footer {
  overflow: hidden;
  height: auto;
}
.block_1_footer {
  white-space: nowrap;
  justify-content: center;
}
.block_2_footer {
  height: 20vw;
}
.footer-item_1,
.footer-item_2,
.footer-item_3,
.footer-item_4,
.footer-item_5,
.footer-item_6,
.footer-item_7,
.footer-item_8 {
  position: relative;
  display: block;
  transform-origin: 50% 10%;
  animation: sway2 2.2s ease-in-out infinite;
}
.name {
  width: 92vw;
  height: 30vw;
}
.name-text {
  font-size: 7.5vw;
  left: 50%;
  transform: translateX(-50%);
  top: 8.7vw;
}

/*  MOBILE */
@media (max-width: 414px) {
  p {
    font-size: 3.6vw;
  }
  h1 {
    font-size: 24.1vw;
  }
  h2 {
    font-size: 14.5vw;
  }
  h3 {
    font-size: 7.25vw;
  }
  .screen_2,
  .screen_3,
  .screen_4,
  .screen_5 {
    width: 94vw;
  }
  /*1 экран*/
  .message_3 {
    display: none;
  }

  /* 2 экран*/
  .block_1_screen_2 {
    display: none;
  }

  .block_2_screen_2,
  .block_3_screen_2 {
    height: 130vw;
  }
  .message_4 {
    height: 52vw;
    padding-top: 10vw;
    padding-left: 20vw;
  }
  .messages_5 {
    top: 82vw;
  }
  .message_5_1,
  .message_5_2,
  .message_5_3,
  .message_5_4 {
    height: 30vw;
  }

  /* 4 экран */
  .block_2_screen_4,
  .block_3_screen_4 {
    height: 150vw;
  }
  .numbers {
    margin-top: 30vw;
  }
  .lore {
    top: 102vw;
  }

  /* 5 экран */
  .block_2_screen_5 {
    display: none;
  }
  .block_3_screen_5 {
    height: 150vw;
  }
  .king-man_animation {
    width: 85vw;
    left: -20vw;
  }
  .style-king_p1,
  .style-king_p2 {
    left: 12vw;
  }

  /* footer */
  .name {
    height: 38vw;
  }
}
