.text-background:hover {
  background: url("../images/logo_back_2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.laugh:hover + .message_3 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@keyframes slideInOut {
  /* Кадр 1: Начало (за экраном) */
  0% {
    transform: translateX(100%);
    opacity: 1;
  }

  /* Кадр 5: Финальная позиция */
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideShow {
  0%,
  33% {
    background-image: url("../images/man_1.svg");
  }
  34%,
  66% {
    background-image: url("../images/man_2.svg");
  }
  67%,
  100% {
    background-image: url("../images/man_3.svg");
  }
}

@keyframes move {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 30px);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(-100%); /* Начинаем слева за пределами */
  }
  100% {
    transform: translateX(100%); /* Заканчиваем справа за пределами */
  }
}

/* Остановка при наведении */
.block_1_screen_3:hover .marquee-text_1 {
  animation-play-state: paused;
}

/* Дополнительные стили для красоты */
.block_1_screen_3:hover {
  cursor: pointer;
}
