@font-face {
  font-family: "Helmswald";
  src: url("../fonts/Helmswald.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
