html {
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  background-color: #1f1f1f;
}
.h1 {
  font-family: "Inter";
  font-size: 180px;
  color: #000000;
}
