.text-background:hover {
  background: url("../images/logo_back_2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.laugh:hover + .message_3 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@keyframes slideInOut {
  /* Кадр 1: Начало (за экраном) */
  0% {
    transform: translateX(100%);
    opacity: 1;
  }

  /* Кадр 5: Финальная позиция */
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideShow {
  0%,
  33% {
    background-image: url("../images/man_1.svg");
  }
  34%,
  66% {
    background-image: url("../images/man_2.svg");
  }
  67%,
  100% {
    background-image: url("../images/man_3.svg");
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10vw); /* расстояние движения */
  }
}
@keyframes wordsYou {
  0% {
    content: "lord";
  }
  25% {
    content: "king";
  }
  50% {
    content: "baron";
  }
  75% {
    content: "prince";
  }
  100% {
    content: "graf";
  }
}

@keyframes wordsSkin {
  0% {
    content: "knight";
  }
  25% {
    content: "rich man";
  }
  50% {
    content: "poor man";
  }
  75% {
    content: "squire";
  }
  100% {
    content: "priest";
  }
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideShow2 {
  0%,
  33% {
    background-image: url("../images/helmet.svg");
  }
  34%,
  66% {
    background-image: url("../images/sword.svg");
  }
  67%,
  100% {
    background-image: url("../images/crown.svg");
  }
}
.block_2_screen_3:hover {
  animation-play-state: paused;
}

@keyframes falling {
  0% {
    top: -5.2vw;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    top: 100vh; /* Падают до низа экрана */
    transform: translateY(0) rotate(360deg);
  }
}
.falling-item:nth-of-type(1) {
  animation-delay: -1s;
}
.falling-item:nth-of-type(2) {
  animation-delay: -2s;
}
.falling-item:nth-of-type(3) {
  animation-delay: -3s;
}
.falling-item:nth-of-type(4) {
  animation-delay: -4s;
}
.falling-item:nth-of-type(5) {
  animation-delay: -5s;
}
.falling-item:nth-of-type(6) {
  animation-delay: -6s;
}
.falling-item:nth-of-type(7) {
  animation-delay: -7s;
}
.falling-item:nth-of-type(8) {
  animation-delay: -8s;
}
.animated-item::after {
  content: attr(data-tooltip);
  position: absolute;

  left: 35%;
  top: 10%;
  transform: translateY(-50%);

  font-family: "Inter";

  white-space: nowrap;
  background: #fdabca;
  color: #fff;

  font-size: 1.8vw;
  padding: 0.5vw 0.7vw;
  border-radius: 1.3vw;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* hover */
.animated-item:hover::after {
  opacity: 1;
  transform: translate(0, -50%);
}

.falling-item:hover {
  animation-play-state: paused;
  transform: scale(1.1);
  z-index: 100;
  background: white;
}
/* Дополнительные стили для красоты */
.block_1_screen_3:hover {
  cursor: pointer;
}
/* Остановка при наведении */
.block_1_screen_3:hover .marquee-text_1 {
  animation-play-state: paused;
}
@keyframes sway {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}
.selective-item_1 {
  animation-duration: 2.1s;
  animation-delay: 0s;
}
.selective-item_2 {
  animation-duration: 2.6s;
  animation-delay: -0.7s;
}
.selective-item_3 {
  animation-duration: 2.3s;
  animation-delay: -1.2s;
}
.selective-item_1::after,
.selective-item_2::after,
.selective-item_3::after {
  content: attr(data-tooltip);
  position: absolute;

  left: 100%; /* справа от элемента */
  top: 50%;

  transform: translateX(-50%);
  white-space: nowrap;
  font-family: "Inter";
  background: #70d6d8;
  color: #fff;
  font-size: 0.9vw;
  padding: 0.4vw 0.6vw;
  border-radius: 0.4vw;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

/* при наведении */
.selective-item_1:hover::after,
.selective-item_2:hover::after,
.selective-item_3:hover::after {
  opacity: 1;
}

.crown-kota:hover {
  background: url("../images/vector_crown_2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes slideInOut2 {
  /* Кадр 1: Начало (за экраном) */
  0% {
    transform: translateY(100%);
    opacity: 1;
  }

  /* Кадр 5: Финальная позиция */
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes marquee2 {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

/* Остановка при наведении */
.block_1_screen_5:hover .marquee-text_2 {
  animation-play-state: paused;
}

/* Дополнительные стили для красоты */
.block_1_screen_5:hover {
  cursor: pointer;
}

@keyframes numbers {
  0% {
    content: "0%";
  }
  10% {
    content: "10%";
  }
  20% {
    content: "20%";
  }
  30% {
    content: "30%";
  }
  40% {
    content: "40%";
  }
  50% {
    content: "50%";
  }
  60% {
    content: "60%";
  }
  70% {
    content: "70%";
  }
  80% {
    content: "80%";
  }
  90% {
    content: "90%";
  }
  100% {
    content: "100%";
  }
}
/* ТУТ будет появляться текст */
#searching .nabor::after {
  content: "самый крутой персонаж";
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;

  border-right: 0.1vw solid #000;
  animation: type 6s steps(22) infinite, blink 0.75s step-end infinite;
}

/* печать: пусто -> напечаталось -> пауза -> снова пусто */
@keyframes type {
  0% {
    width: 0;
  }
  40% {
    width: 22ch;
  }
  60% {
    width: 22ch;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.numbers::after {
  position: absolute;
  top: 2.8vw;
  left: 7.5vw;
  content: "100%";
  animation: numbers 6s infinite alternate;
}
@keyframes dot {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes catJumpA {
  0% {
    right: -20vw;
    top: 6vw;
    rotate: 15deg;
  }
  20% {
    right: -5vw;
    top: -2vw;
    rotate: -20deg;
  }
  40% {
    right: 20vw;
    top: 8vw;
    rotate: 25deg;
  }
  60% {
    right: 45vw;
    top: 0vw;
    rotate: -15deg;
  }
  80% {
    right: 70vw;
    top: 6vw;
    rotate: 20deg;
  }
  100% {
    right: 115vw;
    top: 10vw;
    rotate: -25deg;
  }
}
@keyframes catJumpB {
  0% {
    right: -25vw;
    top: 18vw;
    rotate: -10deg;
  }
  20% {
    right: -10vw;
    top: 10vw;
    rotate: 20deg;
  }
  40% {
    right: 10vw;
    top: 22vw;
    rotate: -30deg;
  }
  60% {
    right: 35vw;
    top: 12vw;
    rotate: 30deg;
  }
  80% {
    right: 60vw;
    top: 24vw;
    rotate: -15deg;
  }
  100% {
    right: 110vw;
    top: 18vw;
    rotate: 20deg;
  }
}

@keyframes marquee3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes marquee4 {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
.king-man_animation:hover {
  animation: slideShow3 0.8s steps(1) infinite;
}

@keyframes slideShow3 {
  0%,
  25% {
    background-image: url("../images/king-man_1.svg");
  }
  26%,
  50% {
    background-image: url("../images/king-man_2.svg");
  }
  51%,
  75% {
    background-image: url("../images/king-man_3.svg");
  }
  76%,
  100% {
    background-image: url("../images/king-man_4.svg");
  }
}
@keyframes sway2 {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}
